#read-only
registry=https://artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-virtual
_auth = cmVhZC1vbmx5OkFQMmVSbkR1Q2dQTmNzWDZZUDk3ejloaHhXVlNyVlZzS2NzcTJ5
always-auth = true
email = jon.shanks+artifactoryro@gmail.com

