@import "../../node_modules/hof/node_modules/hmpo-frontend-toolkit/assets/stylesheets/app.scss";

.form-group {
    // Margins taken from .heading-medium in elements_typography
    margin-top: em(25, 20);
    margin-bottom: em(10, 20);

    legend {
        // Margins taken from .heading-medium in elements_typography
        margin-top: em(25, 20);
        margin-bottom: em(10, 20);

        span {
            @include bold-19;
        }
    }

    /* Prevent checkbox labels getting a big height applied to them when an error is displayed */
    &.validation-error label span.visuallyhidden {
        position: absolute;
    }
}
