{{<layout}}

{{$pageTitleText}}{{#t}}en.pages.complete.title{{/t}}{{/pageTitleText}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

<header class="header-notice-complete">
  <h1 class='heading-large'>{{#t}}pages.complete.title-block-h1{{/t}}</h1>
</header>

<!-- end column-full -->
</div>

<div class="column-half" lang="en">
  <h3 class="heading-small">{{#t}}en.pages.complete.content.what-happens-next-h2{{/t}}</h3>

  <p>{{#t}}en.pages.complete.content.what-happens-next-p1{{/t}}</p>
  <p>{{#t}}en.pages.complete.content.what-happens-next-p2{{/t}}</p>
  <p class="dont-break-out">{{#t}}en.pages.complete.content.what-happens-next-p3{{/t}}</p>
  <br>
</div>

<div class="column-half" lang="ar">
  <h3 class="heading-small">{{#t}}ar.pages.complete.content.what-happens-next-h2{{/t}}</h3>

  <p>{{#t}}ar.pages.complete.content.what-happens-next-p1{{/t}}</p>
  <p>{{#t}}ar.pages.complete.content.what-happens-next-p2{{/t}}</p>
  <p class="dont-break-out">{{#t}}ar.pages.complete.content.what-happens-next-p3{{/t}}</p>
  <br>
</div>

<hr class="keyline">

<a href="https://www.gov.uk/done/get-electronic-visa-waiver" class="button" id="finished">{{#t}}buttons.finished{{/t}}</a>
<div>
{{/content}}

{{/layout}}