{{<layout}}
{{$step}}Step 6 of 8{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

{{$form}}


<h1 class='heading-large'>{{#t}}pages.check-your-answers.header{{/t}}</h1>
<p>{{#t}}pages.check-your-answers.notice{{/t}}</p>

<table id="summary" class="table-details">
    <thead></thead>
    <tbody>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-airport{{/t}}</td>
            <td class="data-departure-airport">
                {{values.flightDetails.departureAirport}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-date{{/t}}</td>
            <td class="data-departure-date">
                {{values.departure-date}}
            </td>
            <td><a href="departure-date-and-time#edit/departure-date" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-time{{/t}}</td>
            <td class="data-departure-time">
                {{values.departure-time}}
            </td>
            <td><a href="departure-date-and-time#edit/departure-time" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.flight-number{{/t}}</td>
            <td class="data-flight-number">
                {{values.flight-number}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-airport{{/t}}</td>
            <td class="data-arrival-airport">
                {{values.flightDetails.arrivalAirport}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-date{{/t}}</td>
            <td class="data-arrival-date">
                {{values.flightDetails.arrivalDate}}
            </td>
            <td><a href="arrival-date#edit/arrival-date" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-time{{/t}}</td>
            <td class="data-arrival-time">
                {{values.flightDetails.arrivalTime}}
            </td>
            <td><a href="arrival-date#edit/arrival-time" class="button" id="">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
    </tbody>
</table>
<p>
    <br>
    {{#input-submit}}Confirm submission{{/input-submit}}
</p>
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
