{{<layout}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

{{$form}}

<h1 class='heading-large'>{{#t}}pages.check-your-answers.header{{/t}}</h1>
<p>{{#t}}pages.check-your-answers.notice{{/t}}</p>

<h2>{{#t}}pages.check-your-answers.journey-to-uk-title{{/t}}</h2>
<table id="inbound-summary" class="table-details">
    <thead></thead>
    <tbody>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-country{{/t}}</td>
            <td class="data-departure-country bold">
                {{values.flightDetails.inwardDepartureCountryPlane}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-airport{{/t}}</td>
            <td class="data-departure-airport bold">
                {{values.flightDetails.departureAirport}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-date{{/t}}</td>
            <td class="data-departure-date bold">
                {{values.flightDetails.departureDate}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.departure-time{{/t}}</td>
            <td class="data-departure-time bold">
                {{values.flightDetails.departureTime}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.flight-number{{/t}}</td>
            <td class="data-flight-number bold">
                {{values.flight-number}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-airport{{/t}}</td>
            <td class="data-arrival-airport bold">
                {{values.flightDetails.arrivalAirport}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-date{{/t}}</td>
            <td class="data-arrival-date bold">
                {{values.flightDetails.arrivalDate}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        <tr>
            <td>{{#t}}pages.check-your-answers.table.arrival-time{{/t}}</td>
            <td class="data-arrival-time bold">
                {{values.flightDetails.arrivalTime}}
            </td>
            <td><a href="flight-number#edit/flight-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
        </tr>
        {{#knowDepartureDetailsNo}}
            <tr>
                <td>{{#t}}pages.check-your-answers.table.uk-duration{{/t}}</td>
                <td class="data-uk-duration bold">
                    {{values.uk-duration}}
                </td>
                <td><a href="uk-departure#edit/uk-duration" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
        {{/knowDepartureDetailsNo}}
    </tbody>
</table>


{{#knowDepartureDetailsYes}}
    <h2>{{#t}}pages.check-your-answers.journey-from-uk-title{{/t}}</h2>
    <table id="outbound-summary" class="table-details">
        <thead></thead>
        <tbody>
            <tr>
                <td>{{#t}}pages.check-your-answers.table.uk-port-of-departure{{/t}}</td>
                <td class="data-port-of-departure bold">
                    {{ukPortOfDepartureDisplay}}
                </td>
                <td><a href="uk-departure#edit/uk-port-of-departure" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            <tr>
                <td>{{#t}}pages.check-your-answers.table.uk-date-of-departure{{/t}}</td>
                <td class="data-uk-date-of-departure bold">
                    {{values.uk-date-of-departure-formatted}}
                </td>
                <td><a href="uk-departure#edit/uk-date-of-departure" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            <tr>
                <td>{{#t}}pages.check-your-answers.table.uk-departure-travel-number{{/t}}</td>
                <td class="data-uk-departure-travel-number bold">
                    {{values.uk-departure-travel-number}}
                </td>
                <td><a href="uk-departure#edit/uk-departure-travel-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
        </tbody>
    </table>
{{/knowDepartureDetailsYes}}

<p>
    <br>
    {{#input-submit}}Confirm submission{{/input-submit}}
</p>
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
