{{<layout}}
{{$step}}Step 5 of 8{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<header>
    <h1 class="heading-large">{{#t}}pages.departure-date-and-time.header{{/t}}</h1>
</header>

{{<partials-form}}

{{$form}}

    <fieldset id="departure-date-group" class="form-group{{#errors.departure-date}} validation-error{{/errors.departure-date}}">
        <legend>
            <span class="form-label-bold">
                {{#t}}fields.departure-date.legend-1{{/t}}
                <span class="data-flight-number">{{values.flight-number}}</span>
                {{#t}}fields.departure-date.legend-2{{/t}}
                <span class="data-departure-airport">{{values.departure-airport}}Dubai</span>
                {{#t}}fields.departure-date.legend-3{{/t}}
            </span>
        </legend>
        {{#errors.departure-date}}
          <span id="departure-date-error" class="error-message">
            {{errors.departure-date.message}}
          </span>
        {{/errors.departure-date}}
        <div class="form-date">
            {{#input-date}}departure-date{{/input-date}}
        </div>
    </fieldset>

    <fieldset id="departure-time-group" class="form-group{{#errors.departure-time}} validation-error{{/errors.departure-time}}">
        <legend>
            <span class="form-label-bold">
                {{#t}}fields.departure-time.legend-1{{/t}}
                <span class="data-flight-number">{{values.flight-number}}</span>
                {{#t}}fields.departure-time.legend-2{{/t}}
                <span class="data-departure-airport">{{values.departure-airport}}Dubai</span>
                {{#t}}fields.departure-time.legend-3{{/t}}
            </span>
            <span class="form-hint">{{#t}}fields.departure-time.hint{{/t}}</span>
        </legend>
        {{#errors.departure-time}}
          <span id="departure-time-error" class="error-message">
            {{errors.departure-time.message}}
          </span>
        {{/errors.departure-time}}
        <div class="form-date">
            {{#input-text-compound}}departure-time-hours{{/input-text-compound}}
        </div>
        <div class="form-date">
            {{#input-text-compound}}departure-time-minutes{{/input-text-compound}}
        </div>
    </fieldset>

    {{#input-submit}}continue{{/input-submit}}

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
