{{<layout}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<header>
    <h1 class="heading-large">{{#t}}pages.flight-number.header{{/t}}</h1>
</header>

{{<partials-form}}

{{$form}}

{{#input-text}}flight-number{{/input-text}}

<details class="flight-number-panel">
  <summary><span class="summary">{{#t}}pages.flight-number.help-text-title{{/t}}</span></summary>
  <div class="panel panel-border-narrow">
    <p>{{#t}}pages.flight-number.help-text-content-1{{/t}}</p>
    <p>{{#t}}pages.flight-number.help-text-content-2{{/t}}</p>
  </div>
</details>

{{#input-submit}}continue{{/input-submit}}

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
