{{<layout}}
{{$step}}Step 4 of 8{{/step}}

{{$journeyHeader}}
{{#t}}journey.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<header>
    <h1 class="heading-large">{{#t}}pages.is-this-your-flight.header{{/t}}</h1>
</header>

<table class="flight-details">
    <tr>
        <td>Flight Number</td>
        <td class="flight-number">{{ flightDetails.flightNumber }}</td>
    </tr>
    <tr>
        <td>Departure airport</td>
        <td class="departure-airport">{{ flightDetails.departureAirport }}</td>
    </tr>
    <tr>
        <td>Arrival airport</td>
        <td class="arrival-airport">{{ flightDetails.arrivalAirport }}</td>
    </tr>
    <tr>
        <td>Arrival date</td>
        <td class="arrival-date">{{ flightDetails.arrivalDate }}</td>
    </tr>
    <tr>
        <td>Arrival time</td>
        <td class="arrival-time">{{ flightDetails.arrivalTime }}</td>
    </tr>
</table>

{{<partials-form}}

{{$form}}

{{#radio-group}}is-this-your-flight{{/radio-group}}

{{#input-submit}}continue{{/input-submit}}
{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
